* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: #213555;
    color: #F5EFE7;
}

#sect-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titulo {
    color: #F5EFE7;
    margin-top: 30px;

}

.subtitulo {
    color: #F5EFE7;
}

.btns-attack {
    display: flex;
    gap: 10px;
}

.tarjetas{
    margin: 30px 0 30px 0;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 30px;
}

input {
    display: none;
}

input:checked + .tarjeta-mokepon{
    background: #2792bd;
}

.tarjeta-mokepon {
    width: 220px;
    height: 100px;
    padding: 10px;
    background: #3E5879;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    transition: 3s border;
}

.tarjeta-mokepon:hover {
    cursor: pointer; 
    border: #F5EFE7 solid 1px;
}

.tarjeta-mokepon img {
    width: 80px;
}

.btn-mascota {
    font-size: medium;
    width: 150px;
    height: 40px;
    background: #3E5879;
    border-radius: 10px;
    border: none;
    color: #F5EFE7;
    margin: 10px;
}

.seleccion-ataque {
    flex-direction: column;
    align-items: center;
}

.btn-attack {
    font-size: medium;
    width: 150px;
    height: 40px;
    background: #3E5879;
    border-radius: 10px;
    border: none;
    color: #F5EFE7;
    margin: 10px;
}

#sec-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-messages-combat {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

#back-last-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#last-result {
    display: flex;
    flex-direction: column-reverse;
    background: #213555;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#btn-restart{
    font-size: medium;
    width: 150px;
    height: 40px;
    background: #3E5879;
    border-radius: 10px;
    border: none;
    color: #F5EFE7;
    margin: 10px;
}

.history-attack{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    background: #3E5879;
    border-radius: 10px;
    padding: 10px;
}


@media (max-width: 700px){
    .btns-attack{
        flex-direction: column;
    }

    .tarjetas{
        grid-template-columns: 220px;
    }
}